@font-face { font-family: public-pixel; src: url('../static/fonts/public-pixel.ttf'); } 
@font-face { font-family: chill; src: url('../static/fonts/chill.otf'); } 

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* overflow: hidden; */
    height: 300vh;
    background-color: #f6d4b1;
    font-family: "chill", sans-serif;
    font-size: 18px;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* right: 50%; */
    outline: none;
    z-index: 0;
    /* cursor: grab; */
    /* display: none; */
}

#textarea
{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    z-index: 3;
}

#loading{
    /* font-family: monospace; */
    /* font-weight: bold; */
    color: #f6d4b1;
    background-color: #525252;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px;
    z-index: 2;
    transition: opacity 0.5s;
}

#loading-list {
    list-style-type: none;
    font-weight: normal;
}

  
  h1 {
    display: inline-block;
    color: #f6d4b1;
    background-color: #525252;
    font-family: "public-pixel", monospace;
    font-size: 2em;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0.3em;
  }

   
  /* h1::after {
    content: '';
    height: 5px;
    position: absolute;
    width: 90vw;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: -1;
    background-color: #525252;
    
    /* width: 550px; */
  /* } */
  
  h2 {
    font-size: 1.5em;
    font-weight: normal;
    /* margin-bottom: -2em; */
  }
  
  h3 {
    font-size: 1em;
    font-weight: normal;
  }
  
  h4 {
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    color: #f6d4b1;
    background-color: #525252;
    font-family: "public-pixel", monospace;
    padding: 16px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  
  }
  
  h5 {
    font-size: 1.2em;
    text-align: center;
    color: #525252;
    /* background-color: #525252; */
    font-family: "public-pixel", monospace;
    padding-top: 4px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 0.3em;
    margin-bottom: 0.3em;

  }

  hr {
    width: 100px;
    height: 2px;
    background-color: none;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border: none;
    border-bottom: dashed 2px #525252;
  }

  .skills,
  p {
    padding: 16px;
    margin: auto;
    text-align: justify;
    width: 680px;
    margin: auto;
    box-sizing: border-box;

  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
  
    text-align: center;
    /* outline: 0px solid white; */
    list-style-type: none;
    transition: all 0.3s;
  }
  
  .skills li {
    display: inline-block;
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 10px 45px -30px black; */
    /* background-color: white; */
    border-radius: 100px;
    padding: 4px 16px;
    /* border: #f2f0ef solid; */
    /* border-width: 1.5px; */
    /* box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1); */
  }

  .skills li::before {
    content: '[';
  }

  .skills li::after {
    content: ']';
  }

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: dashed 2px #525252;
    padding: 8px;
    width: 950px;
    box-sizing: border-box;
    margin: auto;

  }
  
main {
    color: #525252;
    margin-top: 200vh;
    text-align: center;
    position: relative;
    z-index: 1;

  }

  section {
    padding-bottom: 64px;
    margin: auto;
    margin-bottom: 80px;
    /* box-shadow: 0 10px 40px -40px black; */
    border-bottom: dashed 2px #525252;
    /* border-style: dashed; */
    /* width: 90%; */
    width: fit-content;
    
    /* height: 100px; */
    /* margin-top: -90px; */
    /* margin-bottom: 70px; */
  }

  section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  footer {
    display: flex;
    gap: 32px;
    flex-direction: column;
    border-top: dashed 1px #525252;
    font-size: 12px;
    margin: 0px 32px 0 32px;
    padding: 32px 0px;
    text-align: center;
    color: #525252;
  }

  @media only screen and (max-width: 950px) {
    .image {
      /* margin: 8px; */
      width: calc(100vw - 16px);
      
    }
  }
  @media only screen and (max-width: 680px) {
    p, .skills, section {
      width: auto;
    }
  }
