*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
    /* display: none; */
}

#textarea
{
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    z-index: 1;
}

#loading{
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    color: #f99021;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px;
    /* color: white; */
}
